@font-face {
  font-family: "Retron2000";
  src: url("Retron2000.ttf");
}

* {
  font-family: Retron2000, Courier New, monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* border: 1px solid blue; */
}
:root {
  --black: #111118;
  --darkgray: #36374E;
  --gray: #64667E;
  --blue: #819CC1;
  --lightblue: #A2D6F9;
  --lightgray: #C0C6D8;
  --white: #FFFFFF;
  --lightred: #ffc0c0;
  --red: #f48282;

  --shadow-up: linear-gradient(150deg, transparent 30%, var(--black) 60%);


  --triangle-w: 80vw; /*triangle width*/
  --triangle-h: calc(6/10 * var(--triangle-w)); /*triangle height*/
  --text-middle: 0.95 * var(--triangle-w);
  --margin-left: 1.01;
  --more-right: 5vw;

  --rainbowright: linear-gradient(to right, #ffcaca 0%, #ffedc1 20%, #feffb8 40%, #c4ffcb 60%, #add8ff 80%,  #ccafe9 100%);
  --gradient-border: linear-gradient(to right, transparent 0%, var(--lightblue) 20%, var(--lightblue) 80%, transparent 100%);
  /* --margin-right: 98vw; */
}

* {
  scroll-behavior: smooth;
  cursor: url('assets/cursor.png'),auto;
}

body {
  background-color: var(--blue);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 6em;
  color: var(--white);
  text-shadow: .1em .1em var(--darkgray);
  font-weight: normal;
  margin: 10px 0;
}

p {
  font-size: 1.5em;
  color: var(--black);
}

p.subtitle {
  font-size: 2em;
  color: var(--black);
  margin-top: 3px;
}

p.poem {
  color: var(--lightgray);
  font-style: italic;
  /* width: 75%; */
  /* margin: 0 auto; */
  text-align: center;
}

a {
  font-size: inherit;
  color: var(--white);
  text-decoration: none;
  cursor: url("assets/cursor_link.png"), auto;
}

strong {
  color: var(--lightred);
  text-shadow: 2px 2px var(--red);
  font-weight: normal;
}

hr {
  border: none;
  /* background-image: var(--gradient-border); */
  /* background-clip: border-box; */
  background-color: var(--lightblue);
  border-radius: 25px;
  /* border-top: 5px transparent solid; */
  height: 5px;
  overflow: visible;
  margin: 2vw 10%;
}
hr::after {
  content: "";
  background-image: url('assets/hr.png');
  background-size: 12vw;
  display: inline-block;
  position: relative;
  top: -1.5vw;
  font-size: 1.5em;
  height: 3vw;
  width: 100%;
  padding: 0 0.5em;
  background-repeat: no-repeat;
  /* background-origin: 50% 0; */
  background-position: 50% 50%;
  border: none;
}



#backimg {
  max-width: calc(var(--triangle-w) - 1px);
  position: relative;
}

#imgdiv {
  position: absolute;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  z-index: 2;
}

.img-shadow {
  position: relative;
  width: var(--triangle-w);
  height: var(--triangle-h);
  background-image: var(--shadow-up);
  margin-top: calc(-1 * var(--triangle-h));
  z-index: 100;
}


a.button {
  font-size: 2em;
  display: flex;
  width: 14vw;
  height: 5.5vw;
  /* border: 6px solid var(--lightblue); */
  /* border-radius: 20px; */
  justify-content: center;
  align-items: center;
  text-shadow: 4px 4px var(--gray);
  background-image: url('assets/button_back.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* font-size: 2vw; */
}

a.button:hover {
  background-image: url('assets/button_focus.png');
}



#comingsoon {

  text-align: center;
  width: 30%;
  margin-left: 70%;
  /* font-size: 3vw; */
  background-color: var(--darkgray);
  /* color: var(--white); */
  font-size: 2em;
  padding: 5px;
  font-weight: bold;
  padding-bottom: 10px;
  border-radius: 20px;
  animation: bounce 0.4s ease-in alternate infinite;
}

#comingsoon div{
  background-image: repeating-linear-gradient(to right, #ffcaca, #ffedc1 30px, #feffb8 60px, #c4ffcb 90px, #add8ff 120px,  #ccafe9 150px, #ffcaca 180px);

  /* background-position-x: 50%; */
  background-clip: text;
  background-size: 400% 100%;
  -webkit-background-clip: text;
  color: transparent;
  /* text-shadow: 2px 2px var(--black); */
  animation: back-move 48s linear infinite;
}

@keyframes back-move {
  0%  {background-position: 0% 0%;}
  100%  {background-position: 400% 0%;}
}

@keyframes bounce {
  0% {transform: translateY(0)}
  100% {transform: translateY(15px)}
}

#title {
  font-size: 7em;
}
#navbar {
  display: flex;
  justify-content: right;
  gap: 10px;
  padding-bottom: 20px;
}

section {

  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  overflow: visible;

}

section:nth-child(odd){
  text-align: right;
  /* background-color: var(--darkgray); */
}

section:nth-child(even){
  background-color: var(--darkgray);
  color: var(--white);
}

section:nth-child(even) p:not(.poem){
  color: var(--white);
}

section:nth-child(even) h1{
  /* color: var(--gray); */
  text-shadow: .5vw .5vw var(--blue);
}

section:nth-child(2) {
  /* --pad-left: 0.95;
  clip-path: polygon(calc(10/6 * 0.05 * var(--triangle-h)) 0%, 100% 0, 100% 100%, 0 100%, 0% calc(0.05 * var(--triangle-h))); */
  /* background-color: red; */
}

section:nth-child(1) h1 {
  margin-top: 0;
}

section:nth-child(1){
  padding-top: calc(0.35 * var(--triangle-h));

}

.sect-inner {
  width: 80%;
  margin: 0 auto;

}


img.deco {
  height: 6vw;
  display: inline-block;
  margin-bottom: -.5vw;
  padding: 0 20px;
  /* transform: rotateY(180deg); */
}
/*
@keyframes rainbow{
  0% {color: #ffcaca;}
  17% {color: #ffedc1;}
  33% {color: #feffb8;}
  50% {color: #c4ffcb;}
  67% {color: #add8ff;}
  83% {color: #ccafe9;}
  100% {color: #ffcaca;}
} */

/*
@media (max-width: 1200px) {
  :root {
    --triangle-w: 90vw;
    --more-right: 1vw;
  }

  #comingsoon {
    font-size: 2.5vw;
    border-radius: 15px;
  }

}



@media (max-width: 1000px)
{
  :root {
    --triangle-w: 100vw;
    --more-right: 0vw;
    --margin-left: 0.95;

    --triangle-h: calc(4/10 * var(--triangle-w));
    --text-middle: 0.8 * var(--triangle-w);

  }

  .triangle {
    top: 22vw;
    clip: auto;
  }

  p, a.button {
    font-size: 18px;
  }


  #comingsoon {
    margin-top: calc(25vw + var(--pad-left) * var(--triangle-h));
  }

  #title {
    margin-top: calc(25vw + var(--pad-left) * var(--triangle-h));
  }

  #description {
    margin-top: calc(27vw + var(--pad-left) * var(--triangle-h));
  }

  #navbar {
    margin-top: calc(26vw + var(--pad-left) * var(--triangle-h));

  }


}


@media (max-width: 800px) {

  :root {
    --triangle-h: calc(2/10 * var(--triangle-w));
  }

  p, a.button, p.subtitle, #comingsoon {
    font-size: 16px;
  }

  p.poem {
    font-size: 3vw;
  }

  h1 {
    font-size: 40px;
    text-shadow: .5vw .5vw var(--darkgray);
  }

  img.deco {
    height: 40px;
  }

  .triangle {
    top: 40vw;
    clip: rect(-300px, 100vw, calc(var(--triangle-h) - 1px), 0);
  }

  #comingsoon, #title, #description, #navbar, .text-pad {
    position: relative;
    margin-top: 0;
    margin-left: 0;
  }

  #cmspos {
    padding-top: 51vw;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }

  #comingsoon {
    width: 60%;
    float: right;
    padding-bottom: 5px;
  }


  #title {
    font-size: 48px;
  }

  #title, #description, #navbar {
    width: 90%;
    margin: 5px auto;
  }

  #navbar {
    justify-content: space-between;
  }
  #navbar a.button{
    width: 27vw;
    height: 10.6vw;
    text-shadow: 3px 3px var(--gray);

  }

  .text-pad {
    padding-top: 20px;
    width: 100%;
  }

  section:nth-child(1) {
    clip-path: none;
  }

  .sect-inner {
    margin: 0 auto;
  }


  hr {

  }

  hr::after {
    background-size: 96px;
    height: 32px;
    top: -16px;
  }



} */
